<FilesMatch "\.(ini|psd|log|sh|csv)$">
Order allow,deny
Deny from all
</FilesMatch>

DefaultType application/x-httpd-php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]