body {
	font-family: Arial, Sans-Serif;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: #0067ab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.products {
	width: 50%;
	margin: 0 auto;
}

.history {
	width: 70%;
	margin: 0 auto;
}

.top {
	text-align: right;
	line-height: 30px;
}

h2{
    text-align: center;
}
         
table {
	width: 100%;
	border: 1px solid #cccccc;
}

.tno,
.tcount {
	width: 15%
}

.tdate {
	width: 18%
}

.tuser {
	width: 25%
}

.tprodid,
.tdelta,
.tbcount,
.tacount {
	width: 7%
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	/* color: #017572;*/
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	text-align:center;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="password"]{
	margin-bottom: 20px;
	margin-top: 10px;
	/*border-color: #017572;*/
}

.btn {
	width:100px;
	height:30px;
	/*border-color: #017572;*/
}